<div class="navbar">
    <div class="nav-item">
        <a href="{% url 'profil_umum' %}">Profil Umum</a>
    </div>
    <div class="nav-item">
        <a href="{% url 'informasi_kontak' %}">Informasi Kontak</a>
    </div>
    <div class="nav-item">
        <a href="{% url 'kemampuan' %}">Kemampuan</a>
    </div>
    <div class="nav-item">
        <a href="{% url 'pendidikan' %}">Pendidikan</a>
    </div>
    <div class="nav-item">
        <a href="{% url 'pengalaman' %}">Pengalaman</a>
    </div>
    <div class="nav-item">
        <a href="{% url 'ALL' %}">CV</a>
    </div>
</div>