{% load static %}
<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pengalaman - Tyka Yulistriany</title>
    <link rel="stylesheet" href="{% static 'cv/css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="{% url 'ALL' %}" style="margin-right: 0.2cm;">CV</a>
            <a href="{% url 'profil_umum' %}" style="margin-right: 0.2cm;">Profil Umum</a>
            <a href="{% url 'informasi_kontak' %}" style="margin-right: 0.2cm;">Informasi Kontak</a>
            <a href="{% url 'kemampuan' %}" style="margin-right: 0.2cm;">Kemampuan</a>
            <a href="{% url 'pendidikan' %}" style="margin-right: 0.2cm;">Pendidikan</a>
            <a href="{% url 'pengalaman' %}" style="margin-right: 0.2cm;">Pengalaman</a>
        </div>
        <h3>Pengalaman Organisasi dan Kepanitiaan</h3>
        <ul class="pengalaman">
            <li>BEM KEMAKOM FPMIPA UPI - Sekretaris Divisi Pendidikan dan Pelatihan (2024 - Sekarang)</li>
            <li>P2M BEM KEMAKOM FPMIPA UPI - Sekretaris 2 (2024)</li>
            <li>Pelatihan Kewirausahaan BEM KEMAKOM FPMIPA UPI - Staff PDD (2024)</li>
            <li>P2M FOSMAKU UPI - Staff Acara (2024)</li>
            <li>Wisuda Gelombang I BEM KEMAKOM FPMIPA UPI - Staff PDD (2024)</li>
            <li>Polisi Pelajar - Koordinator 2 (2020 - 2022)</li>
        </ul>
    </div>
</body>

</html>