{% load static %}
<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Umum - Tyka Yulistriany</title>
    <link rel="stylesheet" href="{% static 'cv/css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="{% url 'ALL' %}" style="margin-right: 0.2cm;">CV</a>
            <a href="{% url 'profil_umum' %}" style="margin-right: 0.2cm;">Profil Umum</a>
            <a href="{% url 'informasi_kontak' %}" style="margin-right: 0.2cm;">Informasi Kontak</a>
            <a href="{% url 'kemampuan' %}" style="margin-right: 0.2cm;">Kemampuan</a>
            <a href="{% url 'pendidikan' %}" style="margin-right: 0.2cm;">Pendidikan</a>
            <a href="{% url 'pengalaman' %}" style="margin-right: 0.2cm;">Pengalaman</a>
            <br><br>
        </div>

        <div class="header">
            <img src="{% static 'cv/images/ntykaa.png' %}" alt="Foto Profil">
            <div class="header-content">
                <h1>Tyka Yulistriany</h1>
                <h2>Mahasiswa Aktif Universitas Pendidikan Indonesia</h2>
                <p>"Saya adalah mahasiswa semester 3 Program Studi Pendidikan Ilmu Komputer di Universitas Pendidikan Indonesia. Di luar kegiatan akademik, saya juga berpartisipasi aktif dalam organisasi kemahasiswaan. Saya bergabung dengan Badan Eksekutif
                    Mahasiswa KEMAKOM FPMIPA UPI. Selain itu, saya memiliki semangat untuk terus belajar dan mengeksplorasi hal-hal baru".</p>
            </div>
        </div>

    </div>
</body>

</html>